<h1>New User</h1>
<br>
<br>
<p>
Set Case Type As Follows of cases. <br>
<li>1: Murder</li>
<li>2: Sexual Harrasment</li>
<li>3: Theft</li>
<li>4: Divorse</li>
</p>
<br>
<br>
<%= render 'form' %>

<%= link_to 'Back', users_path %>
